.category-box-select {
  width: 90%;
  height: calc(100% - 190px);
}

.box-select {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-y: hidden;
}

.box-fieldset {
  height: 45%;
  text-align: left;
  border-radius: 5px;
  margin: 0 0 5px 0;
  border-style: solid;
  border-width: 1px;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}

.box-select:hover {
  overflow-y: scroll;
}

.box-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4375em;
}
